.gradle/
build/
run/
runs/
forge-1.20.1/.gradle/
forge-1.20.1/build/
forge-1.20.1/run/
forge-1.20.1/runs/
out/
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
bin/
eclipse/
.vscode/
*.log
.DS_Store
